html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --color-white: #fff;
    --color-main: #2c2d30;
    --color-main-fade: #2c2d3000;
    --color-secondary: #171717;
    --color-secondary-fade: #17171700;
    --color-button-hover: #242629;
    --color-button-hover-fade: #24262900;
    --color-user-icon: #8e0000;
    --color-groupings: #9ca6b5;
    --color-gpt-icon: #000000;
    --color-black: #1e1e1f;
    --color-user-menu-hover: #383b42;
    --color-text: #f5f9ff;
    --color-gpt3: #5fc319;
    --color-gpt4: #f22626;
    --color-secondary-p: #c9ccd1;
    --color-logo: #848484;
    --color-model-name: #ffffff;
    --color-assistant-bg: #3f4042;
    --color-assistant-text: #e1e6ed;
    --color-disclaimer: #d0d2e1;
    --color-border1: #484a4e;
    --color-user-menu-border: #34373a;
    --color-user-menu-selected-border: #4a5562;
    --color-border2: #292d32;
    --color-user-message-border: #2f353d;
}

body {
    background: var(--color-main);
    font-size: 1em;
    font-family: system-ui, sans-serif;
}


.content-view{
    display: flex;
}

#sidebar {
    position: relative;
    left: 0;
    background: var(--color-secondary);
    width: 260px;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    height: 100vh;
}


.float-top {
    display: flex;
    flex-direction: column;
    height: calc( 100% - 50px );
}

#sidebar.hidden {
    left: -260px;
    margin-right: -260px;
}

#sidebar.hidden .hide-sidebar {
    left: 60px;
    transform: rotate(180deg);
    padding: 15px 13px 11px 13px;
}

button {
    display: block;
    background: inherit;
    border: 1px solid var(--color-border1);
    border-radius: 5px;
    color: var(--color-white);
    padding: 13px;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
}

button:hover {
    background: var(--color-button-hover);
}


button:disabled {
    opacity: 0.5;
    cursor: not-allowed; /* adiciona um cursor para indicar que está desabilitado */
}

.loader {
    display: flex;
    gap: 8px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #FFF;
    border-radius: 50%;
    animation: dotElastic 0.6s infinite ease-in-out;
}

/* Delay para o segundo e terceiro ponto */
.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes dotElastic {
    0%, 80%, 100% {
      transform: scale(1);
    }
    40% {
      transform: scale(1.5);
    }
}

.links {
    display: block;
    background: inherit;
    border: 1px solid var(--color-border1);
    border-radius: 5px;
    color: var(--color-white);
    padding: 13px;
    box-sizing: border-box;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

.links:hover {
    background: var(--color-button-hover);
}

.logout {
    display: block;
    background: inherit;
    color: var(--color-white);
    padding: 13px;
    text-decoration: none;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
}

.logout:hover {
    background: var(--color-button-hover);
}

.sidebar-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}

.sidebar-controls button {
    padding: 12px 13px 12px 13px;
}

.hide-sidebar {
    position: relative;
    left: 0;
    top: 0;
    transition: all 0.2s ease-in-out;
    transform: rotate(0deg);
}

.new-chat i {
    margin-right: 13px;
}

.new-chat {
    flex: 1;
}

.conversations {
    width: calc( 100% + 8px );
    overflow-y: scroll;
}

.conversations,
.conversations li {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.conversations li {
    position: relative;
}

.conversations li .fa {
    margin-right: 7px;
}

.conversations li > a {
    width: 100%;
    border: none;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
}

.conversations li.active > a {
    background: var(--color-main);
}

.edit-buttons {
    display: none;
    position: absolute;
    right: 8px;
    top: 0;
}

.conversations li:hover .edit-buttons {
    display: flex;
}

.fade {
    position: absolute;
    right: 0;
    top: 0;
    background: var(--color-user-icon);
    width: 40px;
    height: 100%;
    border-radius: 5px;
    background: transparent;
    background: linear-gradient(90deg, var(--color-secondary-fade) 0%, var(--color-secondary) 50%);
}

.conversations li.active .fade {
    background: linear-gradient(90deg, var(--color-main-fade) 0%, var(--color-main) 50%);
}

.conversations li:hover .fade {
    width: 80px;
    background: linear-gradient(90deg, var(--color-button-hover-fade) 0%, var(--color-button-hover) 30%);
}

.edit-buttons button {
    border: none;
    padding: 0;
    margin: 13px 1px 13px 1px;
    opacity: 0.7;
}

.edit-buttons button:hover {
    background: none;
    opacity: 1;
}

.conversations li.grouping {
    color: var(--color-groupings);
    font-size: 0.7em;
    font-weight: bold;
    padding-left: 13px;
    margin-top: 12px;
    margin-bottom: 12px;
}

i.user-icon {
    padding: 6px;
    color: var(--color-white);
    background: var(--color-user-icon);
    display: inline-block;
    text-align: center;
    width: 15px;
    border-radius: 3px;
    margin-right: 6px;
    font-style: normal;
    width: 18px;
    height: 18px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: system-ui, sans-serif;
}

.gpt.user-icon  {
    background: var(--color-gpt-icon);
}

.user-menu {
    position: relative;
    border-top: 1px solid var(--color-border1);
}

.user-menu button {
    width: 100%;
    border: none;
}



.user-menu .dots {
    position: relative;
    top: 11px;
    float: right;
    opacity: 0.7;
}

.user-menu > ul,
.user-menu li {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-menu > ul {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(-100%);
    background: var(--color-black);
    border-radius: 10px;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.user-menu > ul.show-animate {
    display: block;
}

.user-menu > ul.show {
    opacity: 1;
    margin-top: -8px;
}

.user-menu li button {
    border-radius: 0;
}

.user-menu li button:hover {
    background: var(--color-user-menu-hover);
}

.user-menu li:first-child button {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.user-menu li:last-child button {
    border-top: 1px solid var(--color-user-menu-border);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}




::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

:hover::-webkit-scrollbar-thumb {
    background-color: var(--color-text)c3;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-text);
    border-radius: 5px;
}

main {
    width: 100%;
    height: 100dvh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding: 0 0 30px 0;
    box-sizing: border-box;
}

main .view {
    display: flex;
    flex-direction: column;
}

.model-selector {
    position: relative;
    border-radius: 11px;
    background: var(--color-secondary);
    display: flex;
    padding: 4px;
    gap: 4px;
    margin: 24px auto;
    z-index: 2;
}

.model-selector > button {
    border-radius: 9px;
    text-align: center;
    width: 150px;
    border: none;
    font-weight: bold;
    opacity: 0.5;
}

.model-selector > button:hover {
    background: none;
    opacity: 1;
}

.model-selector > button.selected {
    border: 1px solid var(--color-user-menu-selected-border);
    background: var(--color-user-menu-hover);
    opacity: 1;
}

.model-selector button .fa {
    margin-right: 5px;
}

.gpt-3 .fa {
    color: var(--color-gpt3);
}

.gpt-4 .fa {
    color: var(--color-gpt4);
}

.model-info {
    display: none;
    position: absolute;
    bottom: 5px;
    left: 0;
    transform: translateY(100%);
    padding: 15px;
    cursor: default;
}

.model-info-box {
    padding: 20px 20px 10px 20px;
    border-radius: 15px;
    background: var(--color-secondary);
    color: var(--color-white);
    text-align: left;
}

.model-selector > button:hover .model-info {
    display: block;
}

.model-selector p {
    font-size: 1.1em;
    margin: 0 0 15px 0;
}

p.secondary {
    font-size: 1em;
    color: var(--color-secondary-p);
}

.logo {
    position: relative;
    z-index: 1;
    color: var(--color-logo);
    font-weight: bold;
    text-align: center;
    font-size: 2.3em;
}

.view.conversation-view {
    display: flex;
    overflow-y: auto;
    max-height: 100%;
}

.model-name {
    background: var(--color-main);
    text-align: center;
    color: var(--color-model-name);
    padding: 23px;
    border-bottom: 1px solid var(--color-border2);
    font-size: 0.85em;
}

.message {
    display: flex;
    gap: 20px;
    padding: 25px 60px 15px 60px;
    border-bottom: 1px solid var(--color-border2);
    font-size: 0.95em;
}

.message .content {
    padding-top: 5px;
}

.user.message {
    color: var(--color-text);
}

.assistant.message {
    background: var(--color-assistant-bg);
    color: var(--color-assistant-text);
}

#message-form {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    max-width: 850px;
    padding: 20px 45px 20px 45px;
    background-color: #28292b;
    border-radius: .75rem;
}

.message-wrapper {
    position: relative;
}

.message-wrapper-center{
    text-align: center;
}

#message::placeholder {
    color: var(--color-groupings);
}

#message {
    background: var(--color-user-menu-hover);
    border-radius: 13px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--color-user-message-border);
    resize: none;
    padding: 17px 85px 17px 15px;
    font-family: inherit;
    font-size: 1em;
    color: var(--color-white);
    outline: none;
}

.disclaimer {
    margin-top: 12px;
    color: var(--color-disclaimer);
    font-size: 0.7em;
}

.send-button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-gpt3);
    border-radius: 5px;
    display: inline-block;
    font-size: 1em;
    padding: 7px 9px 7px 7px;
    color: var(--color-white);
    border: none;
    margin-top: -2px;
}


.file-button {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-gpt3);
    border-radius: 5px;
    display: inline-block;
    font-size: 1em;
    padding: 7px 9px 7px 7px;
    color: var(--color-white);
    border: none;
    margin-top: -2px;
}

button.send-button:hover {
    border: none;
    background: var(--color-gpt3);
    color: var(--color-white);
}

button.file-button:hover {
    border: none;
    background: var(--color-gpt3);
    color: var(--color-white);
}

p {
    margin: 0 0 1.5em 0;
}

/*.copy-code-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1;
}

.copy-code-btn:hover {
    background: #348637;
}*/

.code-view {
    position: relative;
}

.code-view-header {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    justify-content: space-between;
    align-items: center;
    background-color: #383838;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #b4b4b4;
    font-size: .75rem
}

.code-view-header button{
    font-size: .75rem;
    border: none;
    padding: .25rem 0 .25rem 0;
    color: #b4b4b4;
    border-radius: 0;
    position: relative;
}

.code-view-header button .content-btn{
    align-items: center;
    gap: .25rem;
    display: flex;
}

.code-view-header button:hover{
    background-color: transparent;
}

.icon-sm {
    stroke-width: 2;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
}

.balao {
    display: none;
    position: absolute;
    background-color: #000; /* Cor do balão */
    color: #fff; /* Cor do texto */
	padding: 10px 20px;
    border-radius: 5px;
    top: 30px;
    left: 10px;
}

.balao::before {
    content: '';
    position: absolute;
    top:  -20px; /* Coloca a perninha acima do balão */
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    border-width: 15px;
    border-style: solid;
    border-color: #000 transparent transparent transparent; /* Cor da perninha */
}

.files-view {
    margin: 0 auto;
    width: 100%;
}


.files-view .img-view img{
    width: 300px;
}


.view-file {
    position: relative;
    width: 50%;
}

.view-file .img-view .close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    border-radius: 50%;
    right: 70px;
    top: -10px;
    background-color: #940d0d;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}



.files-view .video-view video{
    width: 300px;
}

.view-file .video-view .close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    border-radius: 50%;
    right: 70px;
    top: -10px;
    background-color: #940d0d;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.files-view .pdf-view iframe{
    width: 300px;
    border: none;
}

.view-file .pdf-view .close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    border-radius: 50%;
    right: 70px;
    top: -10px;
    background-color: #940d0d;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}


.files-view .docx-view pre{
    width: 300px;
}

.view-file .docx-view .close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    border-radius: 50%;
    right: 60px;
    top: -10px;
    background-color: #940d0d;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.files-view .outher-view{
    width: 300px;
    background-color: #212121;
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 5px;
    border: 1px solid hsla(0,0%,100%,.1);
    border-radius: .75rem;
    height: 60px;
}

.files-view .outher-view a {
    color: #FFF;
    text-decoration: none;
    display: block;
}

.files-view .outher-view .file-view-flex{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 60px;
    color: #FFF;
}

.files-view .outher-view .file-view-flex .file-view-flex-text{
    margin-left: 10px;
}

.files-view .outher-view .file-view-flex h3{
    font-size: 25px;
    color: #FFF;
}

.files-view .outher-view .file-view-flex .file-view-flex-text span{
    color: #FFF;
}

.files-view .outher-view .file-view-flex .file-view-flex-text a:hover{
    color: #cccccc;
}

.view-file .outher-view .close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    border-radius: 50%;
    right: 40px;
    top: -10px;
    background-color: #940d0d;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.view-file .close:hover{
    opacity: 0.8;
    background-color: #6e0a0a;
} 

.content .view-file .img-view{
    width: 400px;
    margin-bottom: 10px;
}

.content .view-file .img-view img{
    width: 400px;
    border-radius: 10px;
}

.content .view-file .video-view{
    width: 400px;
    margin-bottom: 10px;
}

.content .view-file .video-view video{
    width: 400px;
    border-radius: 10px;
}


.content .view-file .pdf-view{
    width: 400px;
    margin-bottom: 10px;
}

.content .view-file .pdf-view iframe{
    width: 400px;
    border: none;
}


.file-ia .img-view{
    position: relative;
    cursor: pointer;
}

.file-ia .img-view .header{
    display: none;
    position: absolute;
    width: 25%;
    background-color: #17171775;
    padding: 10px;
    border-radius: 10px;
}

.file-ia .img-view .header button{
    color: #FFF;
    text-decoration: none;
    border: none;
    padding: 0;
    background-color: transparent;
} 

.file-ia .img-view:hover.img{
    opacity: 0.5;
}

.file-ia .img-view:hover .header{
    display: block;
}